annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
beanie==2.0.1
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
dnspython==2.8.0
fastapi==0.131.0
h11==0.16.0
idna==3.11
lazy-model==0.4.0
motor==3.7.1
oauthlib==3.3.1
pip==25.1.1
pydantic==2.12.5
pydantic-core==2.41.5
pydantic-settings==2.13.1
pymongo==4.16.0
python-dotenv==1.2.1
requests==2.32.5
requests-oauthlib==2.0.0
starlette==0.52.1
tweepy==4.16.0
typing-extensions==4.15.0
typing-inspection==0.4.2
urllib3==2.6.3
uv==0.10.4
uvicorn==0.41.0
